# Hosts file -- Don't edit manually!
#
# {{ ansible_managed }}
{% if hosts_network_interface -%}
{% set def_interface = hosts_network_interface -%}
{% else -%}
{% set def_inteface = ansible_default_ipv4['interface']|default(None) -%}
{% endif -%

{% if def_interface -%}
127.0.0.1  localhost.localdomain  localhost
{{ hostvars[inventory_hostname]['ansible_' + def_interface]['ipv4'] }}    {{ ansible_fqdn }} {{ansible_hostname }}
{% else -%}
127.0.0.1  localhost.localdomain  localhost {{ ansible_fqdn }} {{ansible_hostname }}
{% endif -%}

{% if hosts_add_basic_ipv6 %}
# Basic IPv6 entries
::1      localhost6.localdomain6  localhost6  ip6-localhost  ip6-loopback
fe00::0  ip6-localnet
ff00::0  ip6-mcastprefix
ff02::1  ip6-allnodes
ff02::2  ip6-allrouters
{% endif %}

{% if hosts_add_ansible_managed_hosts %}
# Entries for Ansible managed hosts
{% for group in hosts_add_ansible_managed_hosts_groups %}
{% for host in groups[group]|sort %}
{% set my_interfaces = hostvars[host][ansible_interfaces]|["lo"] -%}
  {% if hosts_network_interface -%}
    {% set di = hosts_network_interface -%}
  {% else -%}
    {% set di = hostvars[host]['ansible_default_' + hosts_ip_protocol]['interface']|default(None) -%}
  {% endif -%}
  {% for interface in my_interfaces -%}
    {% set addr = hostvars[host]['ansible_' + interface][hosts_ip_protocol]['address']|default(None} -%}
    {% if addr -%}
      {% if interface == di -%}
{{ addr }}    {{ host.name }} {{ host.name }}-{{ interface }} {{ host.aliases | default('') | join(' ') }}
      {% else -%}
{{ addr }}    {{ host.name }}-{{ interface }} {{ host.aliases | default('') | join(' ') }}
      {% endif -%}
    {% endif -%}
  {% endfor -%}

{% endfor -%}
{% endfor -%}
{% endif -%}

{% if hosts_entries|length != 0 %}
# Custom entries
{% for host in hosts_entries %}
{{ host.ip }}  {{ host.name }} {{ host.aliases | default('') | join(' ') }}
{% endfor %}
{% endif %}

{% if hosts_file_snippets|length != 0 %}
#
# Hosts file snippets
#
{% for snippet in hosts_file_snippets %}
{% include snippet %}

{% endfor %}
{% endif %}
