# Hosts file -- Don't edit manually!
#
# {{ ansible_managed }}
{% if hosts_network_interface -%}
{% set my_interface_name = hosts_network_interface -%}
{% else -%}
{% set my_interface_name = hostvars[inventory_hostname]['ansible_default_' + hosts_ip_protocol]['interface']|default(None) -%}
{% endif -%}
{% set my_interface = hostvars[inventory_hostname]['ansible_' + my_interface_name] -%}

# Localhost
127.0.0.1  localhost.localdomain  localhost
{% if not hosts_add_ansible_managed_hosts -%}
{{ my_interface[hosts_ip_protocol]['address'] }}  {{ ansible_fqdn }}  {{ ansible_hostname }}
{% endif -%}

{% if hosts_add_basic_ipv6 %}
# Basic IPv6 entries
::1      localhost6.localdomain6  localhost6  ip6-localhost  ip6-loopback
fe00::0  ip6-localnet
ff00::0  ip6-mcastprefix
ff02::1  ip6-allnodes
ff02::2  ip6-allrouters
{% endif %}

{% if hosts_add_ansible_managed_hosts %}
#
# Hosts managed by Ansible
#
{% for group in hosts_add_ansible_managed_hosts_groups %}
{% for host in groups[group]|sort %}
# {{ host }}
{% if hostvars[host]['hosts_network_interface'] -%}
{% set their_interface_name = hostvars[host]['hosts_network_interface'] -%}
{% else -%}
{% set their_interface_name = hostvars[host]['ansible_default_' + hosts_ip_protocol]['interface']|default(None) -%}
{% endif -%}
{% set their_interface = hostvars[host]['ansible_' + their_interface_name] -%}
{{ their_interface[hosts_ip_protocol]['address'] }}  {{ hostvars[host]['ansible_fqdn'] }}  {{ hostvars[host]['ansible_hostname'] }}
{% endfor -%}
{% endfor -%}
{% endif -%}

{% if hosts_entries|length != 0 %}
# Custom entries
{% for host in hosts_entries %}
{{ host.ip }}  {{ host.name }} {{ host.aliases | default('') | join(' ') }}
{% endfor %}
{% endif %}

{% if hosts_file_snippets|length != 0 %}
#
# Hosts file snippets
#
{% for snippet in hosts_file_snippets %}
{% include snippet %}

{% endfor %}
{% endif %}
